.modal-content {
    padding: 24px 20px;
}

.bold {
    font-weight: bold;
    margin-right: 4px;
}

.header-text {
    background-color: var(--primary-color);
    margin: 0;
    text-align: center;
    font-weight: bold !important;
}