<div class="header-text" mat-dialog-title>{{data.name}}</div>
<div class="modal-content">
    <div>
        <span class="bold">Origin:</span>
        <span>{{getOrigin()}}</span>
    </div>
    <div>
        <span class="bold">Life Span:</span>
        <span>{{data.life_span}}</span>
    </div>
    <div>
        <span class="bold">Weight:</span>
        <span>{{data.weight.metric}}kg</span>
    </div>
    <div>
        <span class="bold">Height:</span>
        <span>{{data.height.metric}}cm</span>
    </div>
</div>